@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(158, 218, 228, 0.885);
  position: relative;
  overflow-x: hidden;
}

.google-btn {
  border: 1px solid rgb(160, 19, 19);
  padding: 5px 10px;
  border-radius: 10px 0px 10px 0;
  color: rgb(160, 19, 19);
  transition: all 0.25s ease-in-out;
}

.google-btn:hover {
  color: white;
  background-color: rgb(160, 19, 19);
}

/* ! swiper js  */

.swiper {
  width: 100%;
}

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */

@media (min-width: 1024px) {
  .swiper-wrapper {
    height: 60vh;
  }

  .swiper {
    width: 100%;
    height: 60vh;
  }
}

.swiper-button-prev {
  color: red !important;
  font-size: large;
}
.swiper-button-next {
  color: red !important;
  font-size: large;
}

/* ? products */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;

  margin: 0 auto;
}

.product-div {
  cursor: pointer;
  padding: 5px 5px;
  transition: all 0.25s ease-in-out;
  border: 1px solid silver;
}

.product-div:hover {
  transform: translateY(-1%);
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}
